PORT=4000
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://mrrihan6789_db_user:vedai@cluster0.04tzfhg.mongodb.net/
REDIS_URL=redis://localhost:6379
OPENAI_API_KEY=AIzaSyCOE6VxAJxDHbcN6sJ-DcJyazPSctxDwIs
OPENAI_MODEL=gpt-4.1-mini
NODE_ENV=development